<!DOCTYPE html>

<html lang = "ja">
 <head>
  <meta charset = "utf-8">
   <title>チルカフェ</title>
 </head>
 <body>
  <h1>新宿の小さなカフェ</h1>
  <h2>新宿の小さなカフェ</h2>
  <h3>新宿の小さなカフェ</h3>
  <h4>新宿の小さなカフェ</h4>
  <h5>新宿の小さなカフェ</h5>
  <h6>新宿の小さなカフェ</h6>
  
  <p>テスト</p>
  <p>テスト</p>
  <small>小さな文字</small><br>
  <ul>
   <li>リストアイテム</li>
  </ul>
  <table>
   <tbody>
    <tr>
     <td>
      セル１
     </td>
    </tr>
   </tbody>
  </table>
 </body>
</html>